:root {
  --main-color: #26b0d3;
}

body {
  background-color: rgb(248, 244, 223);
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

/* HEADER */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
}

.header__title {
  font-size: 2rem;
  color: white;
  border: white 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
  transform: skew(-20deg);
}

/* BURGER BUTTON STYLE */

.header__burger {
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 40px;
  height: 30px;
  display: none;
  background-color: transparent;
  border: none;
}

.header__burger div {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
}

.header__burger div:nth-child(1) {
  top: 0px;
}

.header__burger div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.header__burger div:nth-child(3) {
  bottom: 0px;
}

.header__burger.burger-active div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 10px);
}

.header__burger.burger-active div:nth-child(2) {
  transform: translateX(-40px);
  opacity: 0;
}

.header__burger.burger-active div:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -10px);
}

/* NAV STYLE */

.header__link-list {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

.header__link {
  position: relative;
  padding: 5px;
  color: white;
  transition: 0.5s;
}

.header__link::before,
.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.header__link::before {
  top: 0;
  left: 0;
  border: white 1px solid;
  border-right: none;
  border-bottom: none;
  transform-origin: top left;
  transform: scale(0);
}

.header__link::after {
  top: 0;
  left: 0;
  border: white 1px solid;
  border-top: none;
  border-left: none;
  transform-origin: bottom right;
  transform: scale(0);
}

.header__link:hover::before,
.header__link:hover::after {
  transform: scale(1);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* EDITO */

.edito {
  padding: 1rem;
  margin-top: -2px;
  font-size: 1.2rem;
  width: 50%;
  border: solid 2px var(--main-color);
}

/* RANDOM RECIPE */

.random-recipe {
  width: 60%;
}

.random-recipe__title {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.random-recipe__content {
  display: flex;
}

.random-recipe__info {
  padding: 0.5rem;
  border: var(--main-color) 2px solid;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.random-recipe__image {
  object-fit: cover;
  width: 40%;
}

.random-recipe__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem 0.5rem;
}

.random-recipe__description {
  line-height: 1.2rem;
}

/* SECTIONS */

.section {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.section__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.section__container {
  display: flex;
  gap: 0.5rem;
}

/* RECIPE CARD */

.recipe {
  display: flex;
  flex-direction: column;
}

.recipe>img {
  width: 100%;
}

.recipe__info {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  border-top: none;
  padding: 5px;
  overflow: hidden;
}

.recipe__name {
  font-weight: bold;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--main-color);
}

.footer__link-list {
  display: flex;
  gap: 1rem;
}

.footer__link>a {
  color: white;
  transition: 0.5s;
}

.footer__link>a:hover {
  color: black;
}

.footer__description {
  width: 30%;
}

.footer__add-recipe {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 1rem;
  transition: 0.5s;
}

.footer__add-recipe:hover {
  background-color: rgb(0, 85, 155);
  transform: scale(1.1);
}

/* TABLET */

@media screen and (max-width: 768px) {

  /* HEADER */
  .header__burger {
    display: block;
  }

  .header__nav {
    position: absolute;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    left: 0;
    top: 66px;
    transition: 1s;
  }

  .header__nav.nav--active {
    max-height: 13.5rem;
  }

  .header__link-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    z-index: 3;
    background-color: var(--main-color);
  }

  /* MAIN */

  .edito {
    width: 100%;
    margin-left: 1rem;
  }

  .random-recipe {
    width: 50%;
  }

  .random-recipe__content {
    flex-direction: column;
  }

  .random-recipe__image {
    width: 100%;
  }

  .random-recipe__info {
    border-top: none;
    border-left: var(--main-color) solid 2px;
  }

  .section__container {
    flex-direction: column;
  }

  .recipe {
    flex-direction: row;
  }

  .recipe>img {
    width: 40%;
  }

  .recipe__info {
    justify-content: center;
    border-left: none;
    border-top: solid black 1px;
  }

  /* FOOTER */

  .footer {
    flex-direction: column;
  }

  .footer__description {
    width: 90%;
    order: 1;
  }

  .footer__add-recipe {
    order: 2;
  }

  .footer__nav {
    order: 3;
  }
}

@media screen and (max-width: 425px) {
  .random-recipe {
    width: 90%;
  }

  .random-recipe__name {
    margin: 0;
  }

  .random-recipe__description {
    display: none;
  }

  .section__title {
    font-size: 1.2rem;
    margin: 0 auto 0.5rem;
  }

  .recipe {
    flex-direction: column;
  }

  .recipe__info {
    border-top: none;
    border-left: solid black 1px;
  }

  .recipe>img {
    width: 100%;
  }

  .recipe__description {
    display: none;
  }
}